body{
  background: #00d2ff !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #3a7bd5,
    #00d2ff
  ) !important;
  background: linear-gradient(
    to left,
    #3a7bd5,
    #00d2ff
  ) !important;
}

.formulario{
  width: 500px;
}

.input-textarea{
  max-width: 100%;
  min-width: 100%;
  max-height: 300px;
  min-height: 200px;
}

/* -LISTA CITAS- */

.listaCitas{
  width: 1200px;
  height: 650px;
  overflow-y: scroll;
}


.listaCitas::-webkit-scrollbar{
  background-color: #3a7bd5;
}

.listaCitas::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 45px;
}